.main.lesson-container([class.fade]="lesson.inStage")
  .result(*ngFor="let result of progress.results; let i = index")
    .completed.stage(*ngFor="let points of result.points") {{ points }}
  .current
    .stage.on-hover(*ngFor="let stage of lesson.stages; let i = index", (click)="onStage(i)",
        [ngClass]="{completed: lesson.pointsFor(i), weenie: isStageWeenie(i)}")
      | {{ lesson.pointsFor(i) }}
    .next.stage.on-hover(*ngIf="lesson.isCompleted", (click)="onNext()",
        [class.weenie]="isNextWeenie()", [@next]="") &rarr;
.options-panel.bottom-bar(*ngIf="!lesson.inStage && progress.allowedPowers.any",
    [@slideBottom]="")
  .power(*ngIf="progress.allowedPowers.autoGoal", (click)="powers.toggle('autoGoal')",
      [ngClass]="{weenie: !powers.toggled.autoGoal}")
    goal-icon([mode]="powers.enabled.autoGoal ? 'auto' : 'listen'")
  .power(*ngIf="progress.allowedPowers.autoPlay", (click)="powers.toggle('autoPlay')",
      [ngClass]="{weenie: !powers.toggled.autoPlay}")
    play-icon([autoPlay]="powers.enabled.autoPlay")
.main.surface-container(*ngIf="lesson.inStage", [@fadeInOut]="")
  bouncing-ball([showBall$]="showBouncingBall$", [counter]="counter$ | async")
  .surface(*ngFor="let surface of lesson.surfaces", [@zoomInOut]="")
    .controls
      goal-icon.goal.button((click)="onGoal()", [@goal]="stage.scene", [mode]="goalMode",
          [ngClass]="{weenie: isGoalWeenie(), active: stage.isCountGoal && transport.active() }")
      minus-fx([show$]="stage.goalMinusFx$")
      .spacer
      .play([class.active]="stage.isCountPlay && transport.active()",
          [@play]="stage.scene", [@notes]="player.noteCount")
        play-icon.button((click)="isGoalWeenie() || onPlayback()",
            [playNotes]="player.noteCount", [goalNotes]="stage.goalNotes",
            [autoPlay]="powers.enabled.autoPlay",
            [ngClass]="{weenie: isPlaybackWeenie()," +
                "disabled: isGoalWeenie() || stage.isCountGoal || stage.isGoal}")
        .counter(*ngIf="stage.isCountPlay", (click)="onStandby()") {{ transport.count() }}
      minus-fx([show$]="stage.playMinusFx$")
    html-grid(*ngIf="isGrid(surface)", [grid]="surface", [class.weenie]="isGridWeenie()")
    .controls
      .spacer
  .top-bar.back((click)="onStage()", *ngIf="lesson.inStage", [@slideTop]="") &larr;
.points(*ngIf="lesson.isCompleted && progress.points", [@slideTop]="") {{progress.points}}
stage-panel.bottom-bar(*ngIf="lesson.inStage", [@slideBottom]="")

