.content
  h3
    .button((mousedown)="onSound('kick')")
    | Kick
  h3
    .button((mousedown)="onSound('snare')")
    | Snare
  h3
    .button((mousedown)="onSound('click')")
    | Click
  h3
    .button((mousedown)="onSound('cowbell')") {{ showKey('cowbell') }}
    | Cowbell
  h3
    .button((mousedown)="onSound('synth')") {{ showKey('synth') }}
    | Synth

  .active {{ active }}
